services:
  - type: web
    name: vidyuth-vikas-admin-portal
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    healthCheckPath: /api/health
    envVars:
      - key: MONGO_URI
        sync: false
      - key: DB_NAME
        value: exam_portal
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: EXAM_EDIT_LOCK
        value: "false"
